<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
    <h1> R__E__G__I__S__T__E__R</h1>
    <form method="POST" action="/register">
        <label for="username">Your username my friend:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">The moment you have to type your password mister:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>